@import "tailwindcss";

@layer components {
    /*REUTILIZABLES GENERALES*/
    .titulos-gen{
         @apply text-[40px] font-bold text-black mb-4 drop-shadow-xl;
    }
    .desc{
        @apply text-gray-800 text-center text-xl
    }
    .desc-b{
        @apply text-gray-800 text-justify leading-relaxed
    }
    /*HEADER*/
    .header{
        @apply fixed top-0 left-0 right-0 z-50 m-4 w-[calc(100%-2rem)] rounded-3xl shadow-lg backdrop-blur-[10px] bg-red-600/95;
    }
    /*MENU PC*/
    .menu {
        @apply flex items-center px-6 py-3 text-white font-medium text-lg rounded-xl transition-all duration-300 hover:bg-white/10 hover:text-gray-200;
    }
    .menu-m {
        @apply absolute top-full left-0 w-64 bg-white rounded-xl shadow-lg border border-red-600 py-2 hidden group-hover:block;
    }
    .menu-md{
        @apply flex items-center px-4 py-3 text-gray-700 mx-1 rounded-lg transition-all duration-200 ease-in-out hover:bg-red-50 hover:text-red-700 hover:translate-x-1;
    }
    /*MENU MOVIL*/
    .menu-mobi{
        @apply flex items-center px-6 py-3 text-white font-medium rounded-xl mx-4 transition-all duration-300 hover:bg-white/10;
    }
    .menu-mobi-sp{
        @apply flex items-center px-4 py-2 text-gray-300 rounded-lg transition-all duration-300 hover:text-white hover:bg-white/10;
    }
    /*BOTON MENU MOVIL*/
    .boton {
        @apply md:hidden flex flex-col justify-center items-center w-8 h-8 space-y-1.5 p-1 rounded-lg hover:bg-white/10 transition-all duration-300 cursor-pointer; /* Añadí cursor-pointer */
    }
    .hamburguesa {
        @apply block w-6 h-0.5 bg-white transition-all duration-300 ease-in-out;
    }
    /*MENU ICONS*/
    .menu-i{
        @apply w-5 h-5 mr-2 stroke-[1.5];

    }
    /*HERO MENU*/
    .text-shadow {
        @apply drop-shadow-[2px_2px_4px_#000000cc];
    }
    /*SELLOS SECCION*/
    .sello-cont{
        @apply bg-white rounded-3xl p-8 shadow-xl border-white border-2 hover:border-red-600;
    }
    .sello-img{
        @apply bg-white rounded-3xl overflow-hidden shadow-xl;
    }
    .sello-tit{
        @apply text-2xl font-bold text-center text-red-600 mb-4;
    }
    /*ICON FOOTER*/
    .footer-i-bg{
        @apply w-10 h-10 bg-red-600 hover:bg-red-700 rounded-full flex items-center justify-center transition-colors;
    }
    .footer-i {
        @apply w-6 h-6 text-white group-hover:scale-110 transition-transform;
    }
    /*FOOTER*/
    .footer-cont{
        @apply text-white hover:text-gray-300 transition-colors;
    }
}