---
import MenuPc from './MenuPc.astro';
import MenuMobi from './MenuMobi.astro';
import Logo from '../ui/Logo.astro';
---
<header class="header">
    <div class="max-w-7xl mx-auto">
        <div class="flex justify-between items-center h-20 px-4 sm:px-6 lg:px-8">
            <Logo/>
            <MenuPc/>
            <button id="mobile-menu-button"
                    class="boton"
                    aria-label="Abrir menú">
                <span class="hamburguesa"></span>
                <span class="hamburguesa"></span>
                <span class="hamburguesa"></span>
            </button>
        </div>
        <MenuMobi/>
    </div>
</header>