---
import Nav from './Nav.astro';
import NavM from './NavM.astro';
---
<nav class="hidden md:flex">
    <ul class="flex items-center space-x-1">
        <Nav href="/" icon="home" text="Inicio"/>
        <Nav href="/sobre-nosotros" icon="about" text="Sobre nosotros"/>
        <NavM text="Nuestro liceo" icon="school" submenu={[
            { href: "/historia", text: "Historia de Nuestro Liceo", icon: "history" },
            { href: "/documentacion", text: "Documentación", icon: "docu" },
            { href: "/malla", text: "Malla Curricular", icon: "malla" },
            { href: "/cra.html", text: "CRA", icon: "cra" },
            { href: "/infraestructura", text: "Infraestructura", icon: "infra" },
        ]} />
        <Nav href="/#especialidades" icon="light" text="Especialidades"/>
        <Nav href="/blog" icon="blog" text="Blog"/>
        <Nav href="/contacto" icon="contact" text="Contacto"/>
    </ul>
</nav>