---
import MobiNav from './MobiNav.astro';
import MobiNavM from './MobiNavM.astro';
---

<nav id="mobile-menu" class="md:hidden overflow-hidden max-h-0 transition-[max-height]">
    <ul class="py-4 space-y-2">
        <MobiNav href="/index" text="Inicio" icon="home" />
        <MobiNav href="/sobre-nosotros" text="Sobre nosotros" icon="about" />
        <MobiNavM text="Nuestro Liceo" icon="school" submenu={[
            { href: "historia.astro", text: "Historia", icon: "history" },
            { href: "/documentacion", text: "Documentación", icon: "docu" },
            { href: "/malla", text: "Malla Curricular", icon: "malla" },
            { href: "/cra", text: "CRA", icon: "cra" },
            { href: "/infraestructura", text: "Infraestructura", icon: "infra" },
        ]} />
        <MobiNav href="/#especialidades" text="Especialidades" icon="light" />
        <MobiNav href="/blog" text="Blog" icon="blog" />
        <MobiNav href="/contacto" text="Contacto" icon="contact" />
    </ul>
</nav>