---
import { Icon } from 'astro-icon/components';

interface Props {
    href: string;
    icon: string;
    text: string;
}
const { href, icon, text } = Astro.props;
---
<li>
    <a href={href} class="menu-mobi">
        <Icon name={icon} class="w-5 h-5 mr-3" />
        {text}
    </a>
</li>