---
import TarjetasEspecialidades from "./TarjetasEspecialidades.astro"
---
<section id="especialidades" class="py-16 px-8 ">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-12">
            <h2 class="titulos-gen">
                Nuestras Especialidades Artísticas
            </h2>
            <p class="desc">
                Descubre las diferentes disciplinas artísticas que ofrecemos en nuestro liceo, cada una diseñada para desarrollar tu creatividad y talento.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-8">   
            <TarjetasEspecialidades descripcion="Explora tu creatividad a través de la pintura, dibujo, escultura y técnicas mixtas." icono="visualart" titulo="Artes Visuales"/>
            <TarjetasEspecialidades descripcion="Aprende el arte de contar historias a través de la imagen y el sonido. Desde guion hasta postproducción." icono="cine" titulo="AudioVisual/cine"/>
            <TarjetasEspecialidades descripcion="Desarrolla tu talento musical con instrumentos, teoría musical, composición y ensambles grupales." icono="music" titulo="Musica"/>
            <TarjetasEspecialidades descripcion=" Expresa emociones a través del movimiento. Explora diferentes estilos desde clásico hasta contemporáneo." icono="visualart" titulo="danza"/>
            <TarjetasEspecialidades descripcion="Desarrolla tus habilidades escénicas y de expresión dramática. El arte de interpretar y emocionar." icono="teatro" titulo="Teatro"/>
        </div>
    </div>
</section>