---
import { Icon } from "astro-icon/components";
const instalaciones = [
    {
        Icono: "visualart",
        titulo: "Artes Visuales",
        texto: "Nuestros talleres están equipados con las mejores herramientas para pintura, escultura y arte digital."
    },
    {
        Icono: "music",
        titulo: "Música y Sonido (Nuevo Título)",
        texto: "Hemos mejorado las salas de ensayo con tecnología de grabación de última generación."
    },
    {
        Icono: "teatro",
        titulo: "Artes Escénicas",
        texto: "Salas de danza con pisos flotantes, teatro 'black box' y un auditorio con equipamiento técnico completo."
    },
    {
        Icono: "pincel",
        titulo: "Creación Digital",
        texto: "Laboratorios con software de última generación para edición de video, animación, diseño gráfico y postproducción."
    },
];
interface Props {
    tituloSec: string;
}
const { tituloSec } = Astro.props;
---
<section class="py-16 px-8">
    <div class="max-w-6xl mx-auto">
        <div class="text-center mb-16">
            <h2 class="text-4xl font-bold text-black mb-4">{tituloSec}</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {instalaciones.map((instalacion) => (
                <div class="bg-white rounded-3xl p-8 shadow-lg flex flex-col text-center">
                        <div class="w-20 h-20 mx-auto mb-4 rounded-full flex items-center justify-center bg-red-100 text-red-800">
                            <Icon name={instalacion.Icono} class="w-10 h-10" />
                        </div>
                        <h3 class="text-2xl font-bold text-red-600 mb-4">{instalacion.titulo}</h3>
                        <p class="text-gray-700 leading-relaxed flex-grow">{instalacion.texto}</p>
                    </div>
            ))}
        </div>
    </div>
</section>