---
import HeaderComponent from '../components/header/HeaderComponent.astro';
import FooterComponent from '../components/footer/FooterComponent.astro';
import LineasFondo from '../components/ui/LineasFondo.astro';

import ImagenBg from "../components/ui/ImagenBg.astro";
import "../styles/global.css";
---
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=/src/assets/images/logo.png />
    <meta name="generator" content={Astro.generator} />
    <title>Liceo de Cultura</title>
</head>
<body class="flex flex-col min-h-screen">

<HeaderComponent />

<main class="flex-grow relative isolate">

    <div class="absolute inset-0 -z-10">
        <LineasFondo/>
        <ImagenBg/>
    </div>

    <slot />

</main>

<FooterComponent />

</body>
</html>