---
import {Image} from "astro:assets"
import FinalBg from "../../assets/images/FinalBg.png"
---
<div class="absolute -bottom-15 -left-60 w-full">
    <Image
            src = {FinalBg}
            alt= "Liceo de Cultura Logo"
            class= "w-full h-auto object-cover opacity-50"
    />
</div>