<div class="hidden md:block fixed top-0 right-0 h-screen pointer-events-none">
    <div class="relative flex h-full items-center pr-5 lg:pr-20 gap-x-4 lg:gap-x-10">

        <div class="w-[15px] lg:w-[40px] h-full bg-red-500"></div>
        <div class="w-[15px] lg:w-[40px] h-full bg-blue-500"></div>
        <div class="w-[15px] lg:w-[40px] h-full bg-yellow-400"></div>
    </div>
</div>