---
import {Image} from "astro:assets"
import ImgSrc from "../../assets/images/logo.png"
---
<div class="flex-shrink-0">
    <div class="bottom-0 left-0 z-[-1]">
        <Image
                src = {ImgSrc}
                alt= "Liceo de Cultura Logo"
                class= "max-h-14 w-auto object-contain"
        />
    </div>
</div>